#menu-button {
  font-size: 0.9em;
  color: black;
}

#menu-button2 {
  font-size: 0.9em;
  color: black;
  text-align: right;
}

.menu-button-hover:hover {
  background-color: #248bf2;
  border-radius: 50px;
}

.menu-button3 {
  float: left;
}

.menu-icon {
  float: left;
}

.menu-icon-size {
  font-size: 1.5em;
}

.responsive-menu-font {
  font-size: 1.4em;
}

.responsive-menu-font:hover {
  font-weight: bold;
}

.menu-title {
  font-size: 1.8em;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  font-weight: bold;
}

.border-rounded {
  border-radius: 20px;
}

.regular-icon {
  color: #6b6969;
}

.white-background {
  background-color: white;
}

.full-screen-overlay {
  position: fixed;
  top: 80px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.photo-font {
  font-size: 1.2em;
}

@media screen and (max-width: 1214px) {

.show-responsive-offcanvas { display: block; }

.show-responsive-menu { display: none; }

}

@media screen and (min-width: 1215px) {

.show-responsive-offcanvas { display: none; }

.show-responsive-menu { display: block; }

}